<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SIKosApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="SiKosAndroid"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SIKosAndroid">

        <activity
            android:name=".feature_auth.LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.BookingKosActivity"
            android:exported="false" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />

        <activity
            android:name=".feature_auth.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".ui.RoomChatActivity"
            android:exported="false" />

    </application>
</manifest>